{
  "presets": [
    ["@babel/preset-react"],
    ["@babel/preset-typescript"],
    [
      "@babel/preset-env",
      {
        "exclude": ["transform-async-to-generator"],
        "loose": true,
        "modules": "auto",
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "@babel/react",
        "jest"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
