{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": ["transform-async-to-generator"],
        "loose": true,
        "modules": "commonjs",
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
