:root {
  --hilite: #fffc00;
  --em: #ff0200;
}

.hilite { background-color: var(--hilite); }
.em { color: var(--em); }
.plain-list {
  padding-left: 0;
  list-style: none;
}
.responsive-img {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.img-container {
  text-align: center;
  margin: 1em auto;
}